<nav>
	<ul>
		<li class="nav-item">{{#link-to 'about'}}About{{/link-to}}</li>
		<li class="nav-item">{{#link-to 'projects'}}Projects{{/link-to}}</li>
		<li class="nav-item">{{#link-to 'posts'}}Blog{{/link-to}}</li>
		<li class="nav-item">{{#link-to 'contact'}}Contact{{/link-to}}</li>
	</ul>
</nav>

<main class="content">
	{{outlet}}
</main>
