<nav>
	{{#link-to 'about'}}About{{/link-to}}
	{{#link-to 'projects'}}Projects{{/link-to}}
	{{#link-to 'posts'}}Blog{{/link-to}}
	{{#link-to 'contact'}}Contact{{/link-to}}
</nav>

<main class="content">
	{{outlet}}
</main>
